apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ project_name }}
  labels:
    app: {{ project_name }}
spec:
  {% if not is_hpa_enabled %}
  replicas: {{ replicas }}
  {% endif %}
  selector:
    matchLabels:
      app: {{ project_name }}
  revisionHistoryLimit: 3
  template:
    spec:
      imagePullSecrets:
      - name: registrysecret
      containers:
      - name: {{ project_name }}
        image: {{ image }}
        command:
          - /bin/bash
          - -ec
          - './main'
