image: {{image}}
project_name: {{project_name}}
current_env: {{current_env}}
tolerations: {{tolerations}}
affinity: {{affinity}}
envs: {{envs}}
name: {{name}}
command: {{command}}
replicas: {{replicas}}
memory_limits: {{memory_limits}}
memory_requests: {{memory_requests}}
cpu_requests: {{cpu_requests}}
manman_release: {{manman_release}}
branch_name: {{branch_name}}
commit: {{commit}}
team: {{team}}