image: {{ image }}
project_name: {{ project_name }}
current_env: {{ current_env }}
tolerations: {{ tolerations }}
affinity: {{ affinity }}
command: {{ command }}
envs: {{ envs }}
manman_release: {{ manman_release }}
branch_name: {{ branch_name }}
commit: {{ commit }}
team: {{ team }}