image: {{image}}
replicas: {{replicas}}
project_name: {{project_name}}
is_hpa_enabled: {{is_hpa_enabled}}
current_env: {{current_env}}
tolerations: {{tolerations}}
affinity: {{affinity}}
envs: {{envs}}
memory_limits: {{memory_limits}}
memory_requests: {{memory_requests}}
cpu_requests: {{cpu_requests}}
manman_release: {{manman_release}}
branch_name: {{branch_name}}
commit: {{commit}}
team: {{team}}
